@import url("../fonts/Montserrat-Bold.ttf");
.delete-btn {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  cursor: pointer;
  background: url("../img/icons/delete.svg") no-repeat center center;
}
.delete-btn:hover {
  opacity: 1;
}

.edit-btn {
  width: 20px;
  height: 20px;
  opacity: 0.6;
  cursor: pointer;
  background: url("../img/icons/edit.svg") no-repeat center center;
}
.edit-btn:hover {
  opacity: 1;
}

.add-button {
  width: 30px;
  height: 30px;
  opacity: 0.6;
  cursor: pointer;
  background: url("../img/icons/add.svg") no-repeat center center;
}
.add-button:hover {
  opacity: 1;
}

.backdrop {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
}

.btn {
  background-color: #0e323b;
  color: white;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease-in;
}
.btn:hover {
  box-shadow: 0 10px -4px 0 rgba(0, 0, 0, 0.8);
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  width: 60%;
  margin-top: 5em;
}

.header {
  background-color: #0e323b;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  padding: 20px 30px;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.7);
}

.control-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 2rem 0 0.5rem;
}

.search-bar {
  width: 40%;
  display: flex;
}
.search-bar input {
  outline: none;
  border: none;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid #949494;
  padding: 5px 10px 3px;
}
.search-bar .search-btn {
  width: calc(1rem + 6px);
  border-bottom: 1px solid #949494;
  background: white url("../img/icons/search.svg") no-repeat center center;
}

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: #0e323b;
  width: 25%;
  border-radius: 5px;
  padding: 2rem 3rem;
  z-index: 2;
  box-shadow: 0 0 10px -4px rgba(0, 0, 0, 0.9);
}
.modal form {
  width: 100%;
}
.modal form .mb-3 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
.modal form .mb-3 .form-control {
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1rem;
  padding: 2px;
  outline: none;
  resize: none;
}
.modal form .mb-3 textarea.form-control {
  height: 5rem;
}
.modal form .mb-3 .invalid-feedback {
  position: absolute;
  font-size: 0.7rem;
  font-style: italic;
  color: tomato;
  left: 0;
  bottom: 1rem;
}
.modal form button {
  background-color: #b3bbbd;
  color: #000;
  border: none;
  outline: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.modal form button:hover {
  background-color: #0e323b;
  color: #fff;
}

.todo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
}
.todo-column {
  padding: 0.5rem;
  min-height: 70vh;
  box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.7);
  background-color: #b3bbbd;
}
.todo-column-wrapper {
  width: 33%;
}
.todo-column-wrapper:not(:last-child) {
  margin-right: 1rem;
}
.todo-column-wrapper h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.todo-column-wrapper.backlog {
  color: tomato;
}
.todo-column-wrapper.backlog .todo-item {
  background-color: tomato;
}
.todo-column-wrapper.in_progress {
  color: orange;
}
.todo-column-wrapper.in_progress .todo-item {
  background-color: orange;
}
.todo-column-wrapper.done {
  color: green;
}
.todo-column-wrapper.done .todo-item {
  background-color: green;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 5px -2px rgba(0, 0, 0, 0.9);
  padding: 0 5px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-bottom: 2px;
}
.todo-item h3 {
  margin: 0.5rem 0.5rem 0.2rem;
}
.todo-item p {
  padding: 0 15px 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-style: italic;
  font-size: 0.7rem;
  opacity: 0.8;
  margin-top: 0;
}
.todo-item .delete-btn,
.todo-item .edit-btn {
  display: none;
  position: absolute;
  right: 3px;
}
.todo-item .delete-btn {
  top: 5px;
}
.todo-item .edit-btn {
  top: 30px;
}
.todo-item:hover .delete-btn,
.todo-item:hover .edit-btn {
  display: flex;
}/*# sourceMappingURL=styles.css.map */